<div>
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/profile">My posts</button>
  </div>

  <h2>Create Post</h2>
  <form [formGroup]="postEditForm">

    <img class="post-image"
         [src]="previewImageUrl || 'https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png'"
         alt="user image">


   <input type="file"
          style="display: none"
          #fileInput
          (change)="onFileSelected($event)">

    <button mat-button (click)="fileInput.click()">Select file</button>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput
              formControlName="title">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput
             formControlName="caption">
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput
             formControlName="location">
    </mat-form-field>

    <div style="text-align: right">
      <button mat-flat-button color="primary" [disabled]="postEditForm.invalid" (click)="submitPostDate()">
      Create Post
      </button>
   </div>
</form>
</div>
