<div *ngIf="isMessagesLoaded" xmlns="http://www.w3.org/1999/html">
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/profile/add-message">Add message</button>
  </div>

  <h2>{{messages.length}} Posts</h2>

  <mat-card class="message-card" *ngFor="let message of messages; let i = index">
    <mat-card-header style="text-align: left">

      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{message.title}}</mat-card-title>
      <mat-card-subtitle>{{message.caption}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{message.caption}}
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button color="warn" mat-button (click)="deleteMessage(message,i)">
        <mat-icon color="warn">delete</mat-icon>
        Delete post
      </button>
    </mat-card-actions>
  </mat-card>
</div>
